<div class="bg-cover" style="background-image: url('../../../assets/images/bg-01.jpg');">
  <div *ngIf="!showSecondCarousel">
    <app-carrusel (idPost)="showPost($event)"></app-carrusel>
  </div>
  <div *ngIf="!showThirdCarousel">
    <app-carrusel [post]="post" (idPost)="showPost($event)"></app-carrusel>
  </div>
  <div *ngIf="showThirdCarousel">
    <app-carrusel [laps]="laps" [post]="post"></app-carrusel>
  </div>

  <div class="container pt-4">
    <app-paginator endpoint="posts" classContent="row" [pageSize]="3" [canScrollTo]="false" [showPagination]="true">
      <ng-template let-item>
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-body cursor-pointer">
              <div class="btn" (click)="openModal(item.id)">
                <h4>{{ item.title }}</h4>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </app-paginator>
  </div>
</div>

<div class="modal fade" #modalInfo tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered ">
    <div class="modal-content " >
   <div class="modal-body" >
    <div class="row align-items-center justify-content-between">
      <div class="col-9">
        <h5 class="modal-title text-black" id="exampleModalLabel">Comentarios</h5>
      </div>
    </div>
      <div class="row" *ngFor="let comment of comments">
        <div class="col-6 text-black">
          <p class="text-black">{{comment.id}} {{comment.name}}</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>