<div class="container-fluid container-md pt-5 position-relative">
    <ngx-glide *ngIf="lastestUser?.length" #ngxGlide [gap]="100" [perView]="3"
      [autoplay]="false" [showArrows]="showArrows" [showBullets]="false" [hoverpause]="true" [keyboard]="true"
      [arrowLeftTemplate]="leftBtn2" [arrowRightTemplate]="rightBtn2" [breakpoints]="breakpointsUser" type="'carrusel'">
      <ng-container *ngFor="let user of lastestUser">
          <div class="d-inline-block ">
          <div class="card card-background " (click)="opencarrusel(user.id)">
            <div class="card-body">
              <h4 class="text-black text-decoration-underline-hover text-center text-wrap">{{ user.name || user.title }}</h4>
              <p class="lead text-center text-wrap">{{ user.username  }}</p>
              <ng-container *ngIf="laps">
                <img src="{{ user.thumbnailUrl }}" alt="image">
              </ng-container>
            </div>
          </div>
        </div>
        </ng-container> 
    </ngx-glide>

      <ng-template #leftBtn2>
        <button type="button"  class="position-absolute top-50 start-0  btn btn-white btn-lg btn-icon-only rounded-circle">
          <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
        </button>
      </ng-template>
      
    <ng-template #rightBtn2>
      <button type="button" class="position-absolute top-50 end-0  btn btn-white btn-lg btn-icon-only rounded-circle">
        <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
      </button>
    </ng-template>

</div>
