<div class="d-flex justify-content-center align-items-center bg-image" style="background-image: url('../../../../assets/images/bg-01.jpg'); min-height: 100vh;">
    <div class="card w-55 w-md-70 rounded overflow-hidden">
        <div class="card-body">
            <form class="form-control mx-auto " [formGroup]="myForm" (ngSubmit)="update()">  
            <span class=" mb-4 custom-font fs-3 d-flex align-items-center justify-content-center">Actualizar Usuario
            </span>
            <div class="wrap-input100 p-3 d-flex align-items-center justify-content-center">
                <span class="label-input100 p-2">Nombre</span>
                <input class="input100" 
                       type="text"
                       formControlName="name" 
                       placeholder="Ingrese tu Nombre">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 p-3 d-flex align-items-center justify-content-center">
                <span class="label-input100 p-2">Usuario</span>
                <input class="input100" 
                       type="text"
                       formControlName="userName" 
                       placeholder="Ingrese tu Usuario">
                <span class="focus-input100"></span>
            </div>   
            <div class="wrap-input100 p-3 d-flex align-items-center justify-content-center">
                <span class="label-input100 p-2">Correo
                </span>
                <input class="input100" 
                       type="text"
                       formControlName="email" 
                       placeholder="Ingrese tu Correo">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 p-3 d-flex align-items-center justify-content-center">
                <span class="label-input100 p-2">Contraseña</span>
                <input class="input100"
                       type="password"
                       formControlName="password" 
                       placeholder="Ingrese su Contraseña">
                <span class="focus-input100"></span>
            </div>
            <div class="p-1 d-flex align-items-center justify-content-center">
                <div class="btn btn-primary rounded-pill ">
                    <button class="btn btn-primary btn-lg" type="submit"  [disabled]="myForm.invalid">
                        Actualizar
                    </button>
                </div>
            </div>
        </form>
        </div>
     </div>
</div>